@font-face {
    font-family: Hey ;
    src: url(./AvenirNextRegular_c99fe90.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url("./front\ image.jpg");
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    

}

#navbar{
   
     display: flex;
    align-items: center;
    justify-content: center;
     gap: 80px;
       
}

#logo{
    height: 78px;
    width: auto;
    filter: brightness(0) invert(1);
}


#navlinks{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin: 10px;
}

#navlinks h4{
    color: grey;
    font-family: Hey;
    font-size: 17px;
    cursor: pointer;
    
}

#navlinks h4:hover{
    color: aliceblue;
}

#navlinks i{
    color: grey;
    font-size: 22px;
    cursor: pointer;
}

#navlinks i:hover{
    color: white;
}


#hero {
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#hero button{
  position: absolute;
  margin-top: 38%;
  padding: 14px 42px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  color: white;
  background: black;
  backdrop-filter: blur(8px);

  border: none;
  border-radius: 30px;
  cursor: pointer;

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  transition: all 0.3s ease;
}

#hero button:hover{
  background: white;
  color: black;
  transform: translateY(-3px);
  box-shadow: 0 14px 35px rgba(0,0,0,0.4);
}

 p{
    color: black;
    font-size: 40px;
    position: absolute;
    margin-top: 610px;
    left: 15px;
    font-family: Hey;
    font-weight: 500;
}



